.navbar-custom {
    background-color: #0e3b1b; /* Deep Orange */
    font-family: 'Playfair Display', serif;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-custom .nav-link:hover {
    color: #d6e459; /* Light Orange */
}

.navbar-custom .active {
    color: #e6de94 !important; /* Highlighted Yellow for Active */
}

